.color {
    border: 1px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.red {
    background-color: rgb(0, 0, 0);
}

.black {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
   
}

.pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: table-cell;
}
